@charset "UTF-8";
/* CSS Document */


body {
  font-family: system-ui;
  background: green;
  color: white;
  text-align: center;
}

#clock {
  font-size: 40px;
  width: 300px;
  height: 70;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
}

#content {
	margin-top: 80px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
}

#des {
	display: flex;
	flex-direction: column;
}

#des p {
	text-align: left;
	margin-left: 20px;
	height: 20px;
}

a {
	margin-top: 20px;
	margin-left: 30px;
}

#homework {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#col1, #col2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#slider-1 {
	margin-top: 20px;
	
	margin-left: 400px;
	margin-right: 400px;
}

